.article {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 15px 14px 20px 19px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  &__header-wrapper {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
  }

  &__right-column {
    max-width: 682px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__title-wrapper {
    display: flex;
    column-gap: 13px;
    align-items: center;
  }

  &__title {
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
    margin: 0;
  }

  &__likes {
    color: rgba(0, 0, 0, 0.75);
    display: flex;
    column-gap: 3px;
    align-items: center;
    cursor: default;
  }

  &__like {
    font-size: 16px;

  }

  &__likes-counter {
    line-height: 22px;
    font-size: 12px;
    letter-spacing: -1px;
  }

  &__tags {
    display: flex;
    column-gap: 8px;
  }

  &__description {
    color: rgba(0, 0, 0, 0.85);
    font-size: 12px;
    line-height: 22px;
    margin: 0;
  }

  &__description--full {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 12px;
  }

  &__body {
    h1, h2 {
      font-weight: 400;
    }

    h1 {
      font-size: 20px;
      line-height: 28px;
    }

    h2 {
      font-size: 18px;
    }



    dl, ol, ul {
      padding: revert;
    }
  }

  &--full {
    min-height: calc(100vh - 140px);
  }
}

.tag {
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  line-height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  padding: 1px 5px 2px 4px;

}

.avatar {
  display: flex;
  column-gap: 12px;

  &__left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__name {
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
  }

  &__date {
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
  }
}