.header {
  height: 80px;
  background-color: #FFFFFF;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    max-width: 1440px;
    padding: 0 22px;
  }

  &__title {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    margin: 0;
  }

  &__button-group {
    display: flex;
    column-gap: 20px;
  }
}