@import "../fonts/roboto";

.container {
  font-family: Roboto, sans-serif;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.error-wrapper {
  width: 384px;
}

.form {
  padding: 48px 32px;
  width: 384px;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 22px 106px rgba(0, 0, 0, 0.07), 0 9px 44.2843px rgba(0, 0, 0, 0.05), 0 4px 23.6765px rgba(0, 0, 0, 0.04), 0 2px 13px rgba(0, 0, 0, 0.03), 0 1px 7px rgba(0, 0, 0, 0.02), 0 0.6px 3px rgba(0, 0, 0, 0.02);
  border-radius: 6px;

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 21px;
    color: #262626;
  }

  &__label-container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

  }

  &__label {

    color: #262626;
    line-height: 22px;
  }

  &__label > div:first-child {
    padding-bottom: 2px;
  }

  &__label label {
    line-height: 22px;
    color: #262626;
  }

  &__hr {
    margin: 21px 0 8px 0;
    border: 0.5px solid #E8E8E8;
  }

  &__checkbox {
    margin-bottom: 0;
    display: flex;
    gap: 8px;
  }

  &__checkbox-span {
    color: #595959;
    line-height: 22px;
    width: calc(100% - 24px);
  }

  &__checkbox span {
    color: #595959;
  }

  &__input {
    border-radius: 4px;
    line-height: 24px;
    font-size: 16px;
    padding: 7px 12px;
    border: 1px solid #d9d9d9;
    display: block;
    width: 100%;
    transition: all .3s;

    &:hover {
      border-color: #40a9ff;
      border-right-width: 1px;
    }

    &:focus {
      border-color: #40a9ff;
      box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
      border-right-width: 1px;
      outline: 0;
    }

    &::placeholder {
      color: #BFBFBF;
      font-size: 16px;
      vertical-align: bottom;
    }

    &--error, &--error:hover {
      border-color: #F5222D;
    }

    &--error:focus {
      border-color: #F5222D;
      box-shadow: 0 0 0 2px rgb(255 77 79 / 20%);
    }
  }

  &__button {
    margin-top: 21px;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 7px;
    padding-top: 7px;
    height: auto;
  }

  &__link {
    margin-top: 8px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
  }

  &__link:not(:last-child) {
    margin-bottom: 12px;
  }

  &__error {
    color: #F5222D;
  }
}

.checkbox {
  display: block;
  width: 16px;
  height: 16px;


  input[type='checkbox'] {
    display: none;
  }

  span {
    display: block;
    margin-top: 2px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    border-collapse: separate;
    transition: all .3s;
  }

  span:hover {
    border: 1px solid #1890ff;
  }

  input[type='checkbox']:checked + span {

    background-image: url("no-label.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #2196f3;
  }

  &--default {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid #9abbce;
    border-radius: 2px;
  }

  &--checked {
    background-color: #262626;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #2196f3;
  }
}